sudo: false

node_js: ["8.2.1"]
bash: ["4.4"]
python: ["3.4"]
go: ["1.8"]

env:
  global:
    - CODECOV_TOKEN=0b81b088-9e91-4ae1-bb78-51b09c7a3b22

services:
  - docker

cache:
  apt: true
  bundler: true
  pip: true
  yarn: true
  directories:
    - $HOME/.cache/pip
    - $HOME/docker
    - $HOME/spark
    - $HOME/.m2
    - $GEM_HOME

addons:
  apt:
    packages:
      - shellcheck
      - python-dev

before_install:
  - source <(curl -sSL https://raw.githubusercontent.com/hipages/travis-tools/master/docker/before_install.sh)
  - mkdir -p ${HOME}/.ssh && openssl aes-256-cbc -K $encrypted_ff41493d3b6d_key -iv $encrypted_ff41493d3b6d_iv -in build/deploy_key.enc -out ${HOME}/.ssh/id_rsa -d && chmod 400 ${HOME}/.ssh/id_rsa

install:
  - cd ${HOME}/spark
  - test -d .git && git checkout master; git pull || git clone https://github.com/apache/spark .
  - git checkout v2.3.0
  - source <(curl -sSL https://raw.githubusercontent.com/hipages/travis-tools/master/docker/install.sh)

script:
  - cd ${HOME}/spark
  - docker run --name spark -d -v ${HOME}/.m2:/root/.m2 -v ${HOME}/spark:/opt/spark maven:3.5.3-jdk-8-slim /bin/bash -c "cd /opt/spark && ./build/mvn -Pkubernetes -DskipTests clean package"
  - sleep 15; while [ $(docker inspect spark --format='{{.State.Status}}') == "running" ]; do docker logs --tail 10 spark; sleep 30; done
  - docker logs --tail 10 spark
  # login to ECR, doing it here since we are not using captain
  - eval "$(aws ecr get-login --no-include-email --region "ap-southeast-2")"
  - cd ${HOME}/spark && bash -x bin/docker-image-tools.sh build -r 855460960717.dkr.ecr.ap-southeast-2.amazonaws.com/hipages/apache-spark -t ${TOOLS_TAG}
  - cd ${HOME}/spark && bash -x bin/docker-image-tools.sh push -r 855460960717.dkr.ecr.ap-southeast-2.amazonaws.com/hipages/apache-spark -t ${TOOLS_TAG}
  - source <(curl -sSL https://raw.githubusercontent.com/hipages/travis-tools/master/docker/script.sh)

after_success:
  - source <(curl -sSL https://raw.githubusercontent.com/hipages/travis-tools/master/docker/after_success.sh)

branches:
  except:
    - /^REL\d+/
    - /^BRANCH-.*$/

