---
ecr:
  build: Dockerfile
  image: {{ getenv "AWS_ACCOUNT_ID" }}.dkr.ecr.{{ getenv "AWS_DEFAULT_REGION" }}.amazonaws.com/hipages/apache-spark
  pre:
    - eval "$(aws ecr get-login --no-include-email --region "{{ getenv "AWS_DEFAULT_REGION" }}")"
  test:
    - docker run --entrypoint=/bin/sh {{ getenv "AWS_ACCOUNT_ID" }}.dkr.ecr.{{ getenv "AWS_DEFAULT_REGION" }}.amazonaws.com/hipages/apache-spark:latest -c "yarn run lint"
    - ci_env=$(source <(curl -s https://codecov.io/env)) && docker run ${ci_env} --entrypoint=/bin/bash {{ getenv "AWS_ACCOUNT_ID" }}.dkr.ecr.{{ getenv "AWS_DEFAULT_REGION" }}.amazonaws.com/hipages/apache-spark:latest -c "yarn run coverage && bash <(curl -s https://codecov.io/bash) -s coverage"
    - DOCKER_IMAGE={{ getenv "AWS_ACCOUNT_ID" }}.dkr.ecr.{{ getenv "AWS_DEFAULT_REGION" }}.amazonaws.com/hipages/apache-spark:latest bundle exec rspec
